* {
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
}

.mobile-all-btn {
  display: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header-links, .horiz-col, .header-link1, .form-element,
.brand-title, .footer-right, .flex-row-top, .mobile-menu-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-row-top {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-row-between, .form-container, .brand-title, .brands-flex, .new-arrival-offers,
.reviews-flex, .numbers-flex, .subfooter-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-row-around {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-element {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.self {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.grid-row {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
.header-top {
  background-color: #fff;
  width: 100%;
}

.burger, .mobile-header-add {
  display: none;
}

.header-links, .header-link1, .horiz-col {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-links-nav {
  max-height: 24px;
}

.header-button {
  background-color: #EF233C;
  height: 68px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #373A5E;
}

.header-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #1C1C30;
}

.header-shopping-cart-wrapper {
  position: relative;
}

.header-shopping-cart-wrapper:after {
  content: '1';
  color: #fff;
  font-size: 12px;
  line-height: 17px;
  background-color: #EF233C;
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 12%;
  right: -88%;
}

/* BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON */
/* BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON */
/* BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON */
.button, button {
  border-radius: 4px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
}

.red-button, button {
  background-color: #EF233C;
  color: #fff;
}

button[type="submit"] {
  -webkit-transition: all 0.3 ease 0s;
  -o-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}

.red-button:hover, button[type="submit"]:hover {
  background-color: #373A5E;
}

.blue-button {
  background-color: #373A5E;
  color: #fff;
}

.outline-button {
  border: 2px solid #EF233C;
  color: #EF233C;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.outline-button:hover {
  background: #fff;
}

button {
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.form-antibutton {
  font-weight: 600;
  font-size: 16px;
  color: #828FA6;
  background: transparent;
  padding-left: 0;
}

input {
  height: 44px;
  border: 2px solid #C0C3C7;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 3%;
}

input[name="search"] {
  width: 260px;
  border-radius: 0 4px 4px 0;
  background: url("../img/icons/search.svg") center right 3% no-repeat;
  margin-left: -6px;
  background-color: rgba(255, 255, 255, 0.7);
}

select, select[name="category"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #C0C3C7;
  padding-left: 3%;
  background: url("../img/icons/select.svg") center right 3% no-repeat rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 300;
}

select {
  height: 48px;
  width: 242px;
  border-radius: 4px;
}

select[name="category"] {
  height: 44px;
  width: 160px;
  border-radius: 4px 0 0 4px;
}

/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO */
/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO */
/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO */
.hero {
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 96px;
}

.hero:after {
  content: ' ';
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(181, 181, 181, 0.63)), color-stop(0.02%, rgba(35, 33, 56, 0.756)), to(rgba(103, 103, 103, 0.4872)));
  background: -o-linear-gradient(top, rgba(181, 181, 181, 0.63) 0.01%, rgba(35, 33, 56, 0.756) 0.02%, rgba(103, 103, 103, 0.4872) 100%);
  background: linear-gradient(180deg, rgba(181, 181, 181, 0.63) 0.01%, rgba(35, 33, 56, 0.756) 0.02%, rgba(103, 103, 103, 0.4872) 100%);
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.hero-title, .hero-subtitle {
  color: #fff;
  text-align: center;
}

.hero-title {
  font-size: 42px;
  font-weight: 800;
}

.hero-subtitle {
  font-size: 22px;
  font-weight: 600;
}

.form-container {
  width: 1060px;
  height: 280px;
  background-color: #fff;
  border-radius: 6px;
  margin: auto;
  padding: 38px 140px;
  z-index: 100;
}

.form-container a {
  color: #EF233C;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.form-label {
  font-size: 14px;
  font-weight: 300;
  color: #373A5E;
  line-height: 24px;
}

.form-element input {
  width: 242px;
  height: 48px;
}

.form-button {
  width: 242px;
}

.form-button button {
  max-width: 142px;
}

/* BRAND SEARCH BRAND SEARCH BRAND SEARCH BRAND SEARCH BRAND SEARCH BRAND SEARCH */
.brand-search-link {
  color: #373A5E;
  text-transform: uppercase;
  line-height: 32px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.brand-search-link:hover {
  color: #EF233C;
}

/* CATEGORY SEARCH CATEGORY SEARCH CATEGORY SEARCH CATEGORY SEARCH CATEGORY SEARCH CATEGORY SEARCH */
.category-card {
  background-color: #fff;
  border-radius: 6px;
  padding: 30px 15px 30px 40%;
  background-position: cover;
  background-clip: border-box;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.category-card li a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #373A5E;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.category-card li a:hover {
  color: #EF233C;
}

.category-card h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.category-card a {
  color: #EF233C;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.category-card a:hover {
  color: #373A5E;
}

.category-card > a:after {
  content: ' ';
  background: url("../img/icons/arrow-sm-right.svg") no-repeat left bottom;
  display: inline-block;
  width: 11px;
  height: 11px;
}

.category-card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.category-card1 {
  background: #fff url("../img/category1.png") no-repeat left center;
}

.category-card2 {
  background: #fff url("../img/category2.png") no-repeat left center;
}

.category-card3 {
  background: #fff url("../img/category3.png") no-repeat left bottom;
}

.category-card4 {
  background: #fff url("../img/category4.png") no-repeat left center;
}

.category-card5 {
  background: #fff url("../img/category5.png") no-repeat left center;
}

.category-card6 {
  background: #fff url("../img/category6.png") no-repeat left bottom;
}

/* NEW ARRIVALS*/
.new-arrivals {
  background: #fff;
  width: 100%;
  min-height: 760px;
}

.new-arrivals-title a {
  color: #EF233C;
}

.new-arrivals-title a:hover {
  color: #373A5E;
}

.new-arrival-card {
  border: 2px solid #EBEBEB;
  border-radius: 6px;
  max-width: 260px;
  min-height: 316px;
  padding: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.new-arrival-card h5 {
  font-size: 16px;
}

.new-arrival-card > img {
  width: 100%;
  height: auto;
}

.new-arrival-card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.new-arrival-card-like {
  background: #DFE0E2;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 3%;
}

.new-arrival-card-price {
  font-size: 22px;
  font-weight: 800;
}

.new-arrival-card-old-price {
  font-size: 18px;
  font-weight: 800;
  color: #C0C3C7;
  text-decoration: line-through;
}

.offer {
  border-radius: 4px;
  min-height: 220px;
  -webkit-flex-basis: 49%;
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
}

.offer h3 {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}

.offer .button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.offer .button:hover {
  background: #fff;
  color: #373A5E;
}

.blue-offer {
  background: #373A5E url("../img/offer1.png") no-repeat right bottom;
}

.red-offer {
  background: #EF233C url("../img/offer2.png") no-repeat right bottom;
}

.offer-info {
  max-width: 290px;
  min-height: 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 26px 0 26px 48px;
}

.offer-info span {
  color: #fff;
}

/* REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS*/
/* REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS*/
/* REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS REVIEWS*/
.review {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  -webkit-flex-basis: 32%;
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
  min-height: 180px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.review h5 {
  font-size: 16px;
}

.review span {
  font-weight: 300;
  font-size: 14px;
  color: #828FA6;
}

.review p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.review:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.number {
  -webkit-flex-basis: 32%;
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
}

.number p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #545673;
  max-width: 275px;
}

.number h3 {
  font-weight: 800;
  font-size: 24px;
}

.number img {
  max-width: 180px;
  max-height: 132px;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/
.footer {
  background: #1C1C30;
  width: 100%;
  min-height: 420px;
}

.footer p {
  color: #828FA6;
  font-weight: 300;
  max-width: 370px;
  line-height: 1.6;
  padding: 24px 24px 24px 0;
}

.footer a {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 35px;
  font-weight: 300;
}

.footer a:hover {
  color: #EF233C;
}

.footer-info-span {
  color: #f5f5f5;
}

.footer-title-menu {
  color: #828FA6;
  font-weight: 700;
  font-size: 24px;
  display: block;
  margin-bottom: 16px;
}

.footer-right {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-span-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-span-flex img {
  padding: 8px 16px 8px 0;
}

.subfooter p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #828FA6;
}

.subfooter a {
  color: #373A5E;
}

.subfooter a:hover {
  color: #EF233C;
}

/* MARGINS PADDINGS*/
.mr-8 {
  margin-right: 8px;
}

.mr-72 {
  margin-right: 72px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-48 {
  margin-left: 48px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-96 {
  margin-top: 96px;
}

.mt-124 {
  margin-top: 124px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-96 {
  padding-top: 96px;
}

.pb-72 {
  padding-bottom: 72px;
}

/* TITLES */
h2 {
  font-weight: 800;
  font-size: 30px;
}

@media screen and (max-width: 1119px) {
  .container {
    width: 96%;
    margin: auto;
  }
  .header-button {
    margin-right: -2.5%;
  }
  .new-arrival-card4 {
    display: none;
  }
}

@media screen and (max-width: 1099px) {
  #category {
    display: none;
  }
  input[name="search"] {
    border-radius: 4px;
    margin-left: 0;
  }
  .category-card {
    background-size: 40%;
  }
  .category-card h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1070px) {
  .form-container {
    width: 100%;
    height: auto;
    padding: 4%;
  }
  .form-element {
    -webkit-flex-basis: 32%;
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
  }
  .form-element input, .form-element select {
    width: 100%;
  }
  .hero {
    padding-top: 7%;
  }
}

@media screen and (max-width: 929px) {
  .header-links-nav, .catalog-btn {
    display: none;
  }
  .burger {
    display: block;
  }
  .grid-row {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-card {
    max-width: 100%;
    padding-left: 45%;
  }
  .new-arrival-card3 {
    display: none;
  }
  .new-arrival-offers {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .offer {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .offer-info {
    max-width: 100%;
  }
  .red-offer {
    margin-top: 24px;
  }
}

@media screen and (max-width: 889px) {
  .reviews-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .review {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    margin-bottom: 4%;
  }
}

@media screen and (max-width: 789px) {
  .request-btn, .header-user, .header-shopping-cart-wrapper, .header-button {
    display: none;
  }
  input[name="search"], .mobile-header-search {
    width: 100%;
  }
  .header-top {
    padding: 2% 0;
  }
  .mobile-header-add {
    display: block;
  }
  .flex-row-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer-right {
    width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .footer p {
    max-width: 100%;
  }
  .footer-span-flex-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-span-flex:not(:first-child) {
    margin-left: 32px;
  }
  .footer-left {
    margin-top: 48px;
  }
  .subfooter-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .subfooter-text-mobile {
    margin-top: 32px;
  }
}

@media screen and (max-width: 620px) {
  .form-element {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }
  .form-label-mobile-2cols {
    margin-top: 16px;
  }
  .hero {
    padding-top: 7%;
  }
  .form-container {
    margin-top: 4%;
  }
  .hero-subtitle, .brand-search-span-mobile-hide {
    display: none;
  }
  .brands-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .brands-flex ul {
    -webkit-flex-basis: 24%;
    -ms-flex-preferred-size: 24%;
    flex-basis: 24%;
  }
  .grid-row {
    grid-template-columns: 1fr;
  }
  .category-card {
    padding-left: 50%;
    background-size: 35%;
  }
  .new-arrival-card2 {
    display: none;
  }
  .review {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .numbers-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .form-element {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .hero:after {
    display: none;
  }
  .form-label-mobile-1col {
    margin-top: 16px;
  }
  .hero {
    background: transparent;
    height: auto;
    padding-top: 2%;
  }
  .hero-title {
    color: #000;
    font-size: 24px;
    margin-bottom: 2%;
  }
  .brands-flex ul {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }
  .brand-search-mobile-margin {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .outline-button {
    margin-top: 16px;
  }
  .offer-info {
    padding-left: 26px;
  }
  .number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .number:not(:first-child) {
    margin-top: 5%;
  }
  .footer-span-flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-span-flex:not(:first-child) {
    margin-left: 0;
  }
  .footer-right {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-title-menu {
    font-size: 18px;
  }
  .flex-row-between {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .subfooter-logos-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .subfooter-logos-mobile img {
    max-width: 3.5rem;
    height: auto;
  }
  .new-arrivals-title span:last-child {
    margin-left: 0;
  }
  .mobile-replace-btn {
    display: none;
  }
  .mobile-all-btn {
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .new-arrivals-mobile-cats {
    margin-top: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .new-arrivals-mobile-cats span {
    line-height: 1.6;
  }
  h2 {
    text-align: center;
  }
  .review:last-child {
    margin-bottom: 0;
  }
}
